<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Department">
        <result column="department_id" jdbcType="INTEGER" property="departmentId"/>
        <result column="department_name" jdbcType="VARCHAR" property="departmentName"/>
        <result column="department_address" jdbcType="VARCHAR" property="departmentAddress"/>
        <result column="department_desc" jdbcType="VARCHAR" property="departmentDesc"/>
        <result column="department_speciality" jdbcType="VARCHAR" property="departmentSpeciality" />
    </resultMap>
    <insert id="addDepartment" parameterType="com.example.demo.entity.Department">
        INSERT INTO `department` (`department_name`,`department_address`,`department_desc`,`department_speciality`) VALUES(#{departmentName},#{departmentAddress},#{departmentAddress},#{departmentSpeciality})
    </insert>
    <select id="getDepartmentByName" resultMap="BaseResultMap">
        SELECT * FROM `department` WHERE department_name = #{departmentName}
    </select >
    <select id="getDepartmentList" resultMap="BaseResultMap">
        SELECT * FROM `department`
    </select >
    <select id="getDepartmentByKey" resultMap="BaseResultMap">
        SELECT * FROM `department` where department_name like concat('%',#{departmentName},'%') or department_speciality like  concat('%',#{departmentName},'%')
    </select >
    <update id="updateDepartment" parameterType="com.example.demo.entity.Department">
        update department
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != dep.departmentName and '' != dep.departmentName">
                department_name=#{dep.departmentName},
            </if>
            <if test="null != dep.departmentAddress and '' != dep.departmentAddress">
                department_address=#{dep.departmentAddress},
            </if>
            <if test="null != dep.departmentDesc and '' != dep.departmentDesc">
                department_desc=#{dep.departmentDesc},
            </if>
            <if test="null != dep.departmentSpeciality and '' != dep.departmentSpeciality">
                department_speciality=#{dep.departmentSpeciality},
            </if>
        </trim>
        where department_id=#{dep.departmentId}
    </update>
    <delete id="deleteDepartment">
        DELETE FROM department WHERE department_id = #{departmentId}
    </delete>
</mapper>