<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Order">
        <result column="order_id" jdbcType="INTEGER" property="orderId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="doctor_type" jdbcType="INTEGER" property="doctorType"/>
        <result column="doctor_name" jdbcType="VARCHAR" property="doctorName"/>
        <result column="department_name" jdbcType="VARCHAR" property="departmentName"/>
        <result column="order_date" jdbcType="VARCHAR" property="orderDate"/>
        <result column="interval" jdbcType="VARCHAR" property="interval"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_phone" jdbcType="VARCHAR" property="userPhone"/>
        <result column="user_card" jdbcType="VARCHAR" property="userCard"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>
    <insert id="addOrder" parameterType="com.example.demo.entity.Order">
        INSERT INTO `order` (`user_id`,`doctor_type`,`doctor_name`,`department_name`,`order_date`,`interval`,`user_name`,`user_phone`,`user_card`,`address`)
                    VALUES(#{userId},#{doctorType},#{doctorName},#{departmentName},#{orderDate},#{interval},#{userName},#{userPhone},#{userCard},#{address})
    </insert>
    <select id="getOrderList" resultMap="BaseResultMap">
        SELECT * FROM `order`
    </select>
    <select id="getOrderByUserId" resultMap="BaseResultMap">
        select * from `order` where user_id=#{userId}
    </select>
    <select id="getOrderByCondition" resultMap="BaseResultMap">
        SELECT * FROM `order`
        <where>
            <if test="userCard != null and userCard != '' ">
                and user_card like concat('%',#{userCard},'%')
            </if>
            <if test="orderDate != null and orderDate != '' ">
                and order_date like concat('%',#{orderDate},'%')
            </if>
            <if test="interval != null and interval != '' ">
                and `interval` like concat ('%',#{interval},'%')
            </if>
        </where>
    </select>
    <delete id="deleteOrder">
        DELETE FROM `order` WHERE order_id = #{orderId}
    </delete>
</mapper>