<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Order">
        <result column="order_id" jdbcType="INTEGER" property="orderId" />
        <result column="doctor_type" jdbcType="INTEGER" property="doctorType"/>
        <result column="doctor_name" jdbcType="VARCHAR" property="doctorName"/>
        <result column="department_name" jdbcType="VARCHAR" property="departmentName"/>
        <result column="order_date" jdbcType="VARCHAR" property="orderDate"/>
        <result column="interval" jdbcType="VARCHAR" property="interval"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_phone" jdbcType="VARCHAR" property="userPhone"/>
        <result column="user_card" jdbcType="VARCHAR" property="userCard"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>
    <insert id="addOrder" parameterType="com.example.demo.entity.Order">
        INSERT INTO `order` (`order_id`,`doctor_type`,`doctor_name`,`department_name`,`order_date`,`interval`,`user_name`,`user_phone`,`user_card`,`address`)
                    VALUES(#{orderId},#{doctorType},#{doctorName},#{departmentName},#{orderDate},#{interval},#{userName},#{userPhone},#{userCard},#{address})
    </insert>
    <select id="getOrderList" resultMap="BaseResultMap">
        SELECT * FROM `order`
    </select>
<!--    <select id="getProductByKey" resultMap="BaseResultMap">-->
<!--        SELECT * FROM `product` where product_name like concat('%',#{productName},'%') or product_des like-->
<!--        concat('%',#{productName},'%')-->
<!--    </select>-->
<!--    <select id="getProductByCondition" resultMap="BaseResultMap">-->
<!--        SELECT * FROM `product`-->
<!--        <where>-->
<!--            <if test="productName != null and productName != ''">-->
<!--                and product_name like concat('%',#{productName},'%')-->
<!--            </if>-->
<!--            <if test="productType != null and productType != -1">-->
<!--                and product_type = #{productType}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->
<!--    <update id="updateProduct" parameterType="com.example.demo.entity.Product">-->
<!--        update product-->
<!--        <trim prefix="SET" suffixOverrides=",">-->
<!--            <if test="null != pro.productName and '' != pro.productName">-->
<!--                product_name=#{pro.productName},-->
<!--            </if>-->
<!--            <if test="null != pro.productType and -1!= pro.productType">-->
<!--                product_type=#{pro.productType},-->
<!--            </if>-->
<!--            <if test="null != pro.productPrice and -1!= pro.productPrice">-->
<!--                product_price=#{pro.productPrice},-->
<!--            </if>-->
<!--            <if test="null != pro.productImg and '' != pro.productImg">-->
<!--                product_img=#{pro.productImg},-->
<!--            </if>-->
<!--            <if test="null != pro.productDes and '' != pro.productDes">-->
<!--                product_des=#{pro.productDes},-->
<!--            </if>-->
<!--        </trim>-->
<!--        where product_id=#{pro.productId}-->
<!--    </update>-->
<!--    <delete id="deleteProduct">-->
<!--        DELETE FROM product WHERE product_id = #{productId}-->
<!--    </delete>-->
</mapper>