<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReportMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Report">
        <result column="report_id" jdbcType="INTEGER" property="reportId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="username"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="interval" jdbcType="VARCHAR" property="interval"/>
        <result column="date" jdbcType="VARCHAR" property="date"/>
        <result column="report_url" jdbcType="VARCHAR" property="reportUrl"/>

    </resultMap>
    <insert id="addReport" parameterType="com.example.demo.entity.Report">
        INSERT INTO `report` (`user_name`,`user_id`,`department`,`date`,`interval`,`report_url`) VALUES(#{username}, #{userId}, #{department},#{date}, #{interval}, #{reportUrl})
    </insert>
    <select id="getReportList" resultMap="BaseResultMap">
        SELECT * FROM `report`
    </select>
    <select id="getReportByReportUrl" resultMap="BaseResultMap">
        SELECT * FROM `report` WHERE report_url = #{reportUrl}
    </select>
    <select id="getReportById" resultMap="BaseResultMap">
        SELECT * FROM `report` WHERE report_id = #{reportId}
    </select>
    <select id="getReportByUserId" resultMap="BaseResultMap">
        SELECT * FROM `report` WHERE user_id = #{userId}
    </select>
    <update id="updateReport" parameterType="com.example.demo.entity.Report">
        update report
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != rep.userId and '' != rep.userId">
                user_id = #{rep.userId},
            </if>
            <if test="null != rep.username and '' != rep.username">
                user_name = #{rep.username},
            </if>
            <if test="null != rep.department and '' != rep.department">
                department = #{rep.department},
            </if>
            <if test="null != rep.date and '' != rep.date">
                `date` = #{rep.date},
            </if>
            <if test="null != rep.interval and '' != rep.interval">
                `interval` = #{rep.interval},
            </if>
            <if test="null != rep.reportUrl and '' != rep.reportUrl">
                report_url = #{rep.reportUrl},
            </if>
        </trim>
        where report_id=#{rep.reportId}
    </update>

    <delete id="deleteReport" >
        DELETE FROM `report` WHERE report_id = #{reportId}
    </delete>
</mapper>