.ant-table thead > tr > th, .ant-table tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
    padding: 12px
}
.ant-table-title{
    padding: 12px 12px 0 12px;
}
.input_label{
    width: 70px;
    display: inline-block;
    margin: 10px;
}
.ant-input-group .ant-input{
    width: 80%;
    display: inline-block;
}