.ant-table thead > tr > th, .ant-table tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
    padding: 12px
}
.ant-table-title{
    padding: 12px 12px 0 12px;
}
.input_label{
    width: 70px;
    display: inline-block;
    margin: 7px!important;
}
.ant-input-group .ant-input{
    width: 80%;
    display: inline-block;
}
.input_special{
    margin-top: 7px;
}
.ant-input-affix-wrapper{
    margin-top: 7px;
    margin-bottom: 7px;
}
.ant-form-item{
    margin-bottom: 15px
}