.login{
    background-size: cover;
    /* background-image: url('../../assets/images/login.png'); */
    background-color: #128784;
    height: 100%;
    padding: 13% 35%;
}
.tip{
    font-size: 30px;
    line-height: 55px;
    color: #fff;
}
.ant-form{
    height: 51%;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 3px;
    padding: 10% 10% 2% 5%;
}